@import 'libs/bootstrap-reboot.min';
@import 'libs/fonts';
@import 'libs/slick';

* {
    font-family: 'Roboto';
}
.container {
    width: 1140px;
    margin: 0 auto;
}

@import 'blocks/header';
@import 'blocks/promo';
@import 'blocks/buttons';
@import 'blocks/solution';
@import 'blocks/expert';
@import 'blocks/advance';
@import 'blocks/double_screen';
@import 'blocks/access';
@import 'blocks/footer';